* {
  /* outline: 1px dashed lime; */
  /* font-family: "Prompt", sans-serif; */
}

html,
body {
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  margin: 0; /* Remove default margin */
}

height {
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}
